* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-tex: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

.darkmode {
  --base-color: #0e1111;
  --base-variant: #0e1111;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --post-btn-bg: white;
  --post-btn-color: black;
}

body {
  background-image: url(Griders.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.navigation a {
  padding: 1em;
}

.navigation a i {
  color: var(--secondary-text);

}

.containerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--base-color);
  width: 100%;
  max-width: 1300px;
  height: calc(100vh - 60px);
  box-shadow: 20px 20px 50px 15px grey;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.heading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  padding-top: 70px;
}

.heading i {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.heading i:hover {
  background-color: #000;
  color: white;
}



.heading p {
  color: #666;
  width: 90%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about p {
  width: 90%;
  color: #666;
}